doctype html
html(lang='en')
  head
    title= 'Test!'
    
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
      
    link(href='~/app.styl' rel='stylesheet')
  
  body
    #app
      
    script(src='~/main.jsx')
